if SHIELD_MSK_IRIS_LEFT

config ZMK_KEYBOARD_NAME
    default "MKS Iris"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MSK_IRIS_LEFT || SHIELD_MSK_IRIS_RIGHT

config ZMK_SPLIT
    default y

endif
