if SHIELD_MSK_LEFT

config ZMK_KEYBOARD_NAME
    default "Max Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MSK_LEFT || SHIELD_MSK_RIGHT

config ZMK_SPLIT
    default y

endif
